
<%= simple_form_for(@fluid) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :orals %>
    <%= f.input :orals_amount %>
    <%= f.input :iv_fluids %>
    <%= f.input :fluids_amount %>
    <%= f.input :urine_amount %>
    <%= f.input :emesis_amount %>
    <%= f.input :drainage_amount %>
    <%= f.input :user_id %>
    <%= f.input :time %>
    <%= f.input :patient_id %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
