


<%= simple_form_for(@fluid) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

   <%= f.input :time, label: "Time", as: :string,input_html: { id: "datetimepicker",placeholder: 'Choose time' }  %>
   </div>
   
      <%= f.input :orals,label: "Type of Orals", as: :text %>
       <%= f.input :orals_amount,label: "Orals Amount", as: :integer %>
       <%= f.input :iv_fluids,label: "Type of IV fluids", as: :text %>
       <%= f.input :fluids_amount,label: "Fluids Amount", as: :integer %>
       <%= f.input :urine_amount,label: "Urine Amount", as: :integer %>
       <%= f.input :emesis_amount,label: "Emesis Amount", as: :integer %>
       <%= f.input :drainage_amount,label: "Drainage Amount", as: :integer %>

   

   

  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

 <div class="form-inputs">
   
    <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

      <%= f.input :status, :as=> :hidden,input_html: {value: 0} %>

</div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript">
        $('#datetimepicker').datetimepicker({
          format : 'HH:mm:ss'
        })
        $('[data-behaviour~=datetimepicker]').datetimepicker();
      </script> 

