
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">

                             
<br>
<br>
    <div class="panel-heading">
   Fluids Intake
    </div>
    
    <div style="overflow-x:auto;">
      <table  class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
         <tr>
    <!--    <th>Nurses Note</th> -->
                <th>Time</th>
                 <th>Type of Orals</th>
                  <th>Amount</th>
                   <th>Type of IV fluids</th>
                   <th>Amount</th>
                     <th>Urine Amount</th>
                       <th>Emesis Amount</th>
                         <th>Drainage Amount</th>
                <th>Written by</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @fluids.each do |fluid| %>
      <tr>
        <!-- <td ><%#= nurse_note.notes %></td> -->
        <td id="whitespace"><%= fluid.time.strftime("%B %d, %Y %H:%M") %></td>
        <td id="whitespace"><%= fluid.orals %></td>
          <td id="whitespace"><%= fluid.orals_amount %></td>
            <td id="whitespace"><%= fluid.iv_fluids %></td>
              <td id="whitespace"><%= fluid.fluids_amount %></td>
               <td id="whitespace"><%= fluid.urine_amount %></td>
                <td id="whitespace"><%= fluid.emesis_amount %></td>
                 <td id="whitespace"><%= fluid.drainage_amount %></td>
         <td id="whitespace"><%= fluid.fullname %></td>
         <td ><%#= link_to 'Open Note', open_note_path(:id => nurse_note.created_at), {:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal4'} %></td>
        
 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


       <center>

<%= link_to 'Record Fluids Intake', new_fluids_intake_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

     </center>   

  </div>
</div>
</section>
 
</section>


<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Notes</h4>
      </div>
      <div class="modal-body">
      <%#= render "open_note" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>





<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Record Fluids</h4>
      </div>
       <div class="modal-body" id = 'fire'>
      <%= render "new_fluids_intake" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




