

<section id="main-content">
	<section class="wrapper">

		<div class="table-agile-info">
			<div class="panel panel-default">

				<br>
				<br>
				<div class="panel-heading">
					 Radiology Orders
				</div>

				<div style="overflow-x:auto;">
					<table class="table" ui-jq="footable" ui-options='{
					"paging": {
					"enabled": true
					},
					"filtering": {
					"enabled": true
					},
					"sorting": {
					"enabled": true
					}}'>
						<thead>
							<tr>

								<th data-breakpoints="xs">No</th>

								<th>Patient No</th>
								<th>Name</th>
								<th>Date</th>
								<th>Test Ordered</th>
								<th colspan="12"></th>

							</tr>
						</thead>
						<tbody>
							<% count=1 %>

							<% @radiology_requests.each do |patient| %>
							<tr>

								<td><%= count %></td>

								<td><%= patient.card_no%></td>
								<td><%= patient.other_names + " " +  patient.surname %></td>

								<td><%= patient.created_at %></td>
								<td><%= patient.service_name %></td>

								<td ><%= link_to 'Upload Results', enter_radio_results_path(:id => patient.id),{:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>

							</tr>
							<% count=count+1 %>
							<% end %>

						</tbody>
					</table>

					<center>

					</center>

				</div>
			</div>
	</section>

</section>

<div id="myModal1" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Enter Radio/Ultra Results</h4>
			</div>
			<div class="modal-body" id = 'hii'>
				 <%= render "enter_radio_results" %> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>




