 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script src="/assets/bootstrap-combobox.js"></script>


   <div class="table-agile-info" role="form">

 
   <%= simple_form_for(@order_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 

                             


  <div class="form-group">
 
    <%#= f.input :personnel_id,label: "Lab Technician", collection: Role.where("id = 2"), label_method: :role_name, value_method: :id,class:'form-control'%>
  </div>


  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.role_id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

<center>
  <div class="form-group">
 
    
      <%= f.input :service_id, label: "Type/Select Medication orders", :id => "push_left", collection:   @services_inventories,label_method: 

              lambda { 

               |plan| "#{plan.service_name} - Ghc #{plan.price}" 

              }  , value_method: :id, input_html:{ class:"combobox", data: {placeholder: "Order List" } }%>


  </div>



  <div class="qty-width">

    <%= f.input :drug_quantity,label: "Quantity", :as => "integer" , input_html: {value: f.object.service_id || '1'} %>

  </div>

  <div class="form-group">

    <%= f.input :dosage,label: "Medication Dosage/ Instructions/Comments/Prescriptions", as: :text, input_html: { rows: "4"}  %>

  </div>
</center>

<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden %>

   <% else  %>
  <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>

  </div>

  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 0 } %>

  </div>

   <div class="form-inputs">
    <%= f.input :delete_status, :as=> :hidden, input_html: {value: 0 } %>

  </div>

<center>

   <div class="form-actions">
    <%#= f.button :submit %>
     <%= f.submit "Submit Order",:class => "btn btn-primary btn-sm" %>
  </div>
  </center>

<% end %>

<% end %>

</div>




<script type="text/javascript">
    $(document).ready(function(){
         $('form').attr('autocomplete', 'off');
        
         $('.combobox').combobox();

   $('span.input-group-addon').addClass("hidden");
  
    });
</script>