


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
 
        <table class="custab table table-striped table-hover table-bordered">
<br>
        
           
                             
<br>
<br>
               
               <div class="cent"  ><b><p>Order Requested</p></b></div>                 
        
           
              
          <!--   <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Order requested</td> -->
            <!-- <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"> -->
            <center>
                 <%=  @document1[0].order_name %>
              
            </center>
         
           <!--  </td> -->
             
        <!--   </tr> -->
          



 
          
        <% #end %>
          
         
           </table>
          
  </div>
</div>






