
<% if @order_id.status == true %>
    $(".order-<%= @order_id.id %> > a").html('Close order').removeClass('btn-warning').addClass('btn-success')
<% else %>
    $(".order-<%= @order_id.id %> > a").html('Order closed').removeClass('btn-success').addClass('btn-warning')
<% end %>
$("#order_status-status-<%= @order_id.id %>").html("<%= @order_id.status %>")




