
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">
             
<br>
<br>
    <div class="panel-heading">
   Order Requests
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

              <th data-breakpoints="xs">No</th> 
      
      <th>Patient No</th>
      <th>Name</th>
      <th>Order Name</th>
       <th>Status</th>
       <th>Date</th>
      <th>Created by</th>
       <th>status</th>
       
      
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @order_requests.each do |order| %>
      <tr>
         
        <td><%= count %></td> 
        
          <td><%= order.card_no%></td>
         <td><%= order.other_names + " " +  order.surname %></td>
           <td><%= order.service_name %></td>
         <td><%= "Ordered" %></td>
          <td><%= order.created_at %></td>
         <td><%= order.fullname %></td>
         


<td class="order-<%= order.id %>">
    <%= link_to "#{ order.status ? 'Closed' : 'Close Order' }", close_order_path(:id => order.created_at),{remote: :true, class: "btn btn-xs btn-#{ order.status  ? 'success' : 'warning' }"} %>
</td>

<!-- ,:data =>{disable_with:  "<i class='fa fa-refresh fa-spin'></i> Closing order..." } -->
    


<!--            <td id = "closed">
    <%#= link_to "#{ order.status ? 'Closed' : 'Close Order' }", close_order_path(:id => order.created_at), remote: :true, class: "btn btn-xs btn-#{ order.status ? 'success' : 'warning' }"  %>
</td> -->


      

       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>
        <center>
	<div class="digg_pagination">
	<%= will_paginate @order_requests %>
	</div>
</center>

       <center>

     </center>   

  </div>
</div>
</section>
 
</section>









<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Order Details</h4>
      </div>
      <div class="modal-body" id = 'boom2'>
      <%#= render "view_order" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>