<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">

   <div class="panel-heading">
   Bills 
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
    <tr>
      
      <th>Patient</th>
      <th>Service</th>
      <th>Price</th>
     
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_histories.each do |bill_history| %>
      <tr>
        
        <td><%= bill_history.other_names + " " + bill_history.surname %></td>
        <td><%= bill_history.service_name %></td>
        <td><%= bill_history.lab_name %></td>
        <td><%= bill_history.price %></td>
        
        
       
        <td><%= link_to 'Print' %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<center>
								<div class="digg_pagination">
									<%= will_paginate @bill_histories %>
								</div>
							</center>

<br>

  </div>
</div>
</section>
 
</section>