<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">

   <div class="panel-heading">
   Bills 
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
    <tr>
      
      <!-- <th>Patient</th> -->
      <th>Service</th>
      <th>Price</th>
      <th>Date</th>
       <th>Status</th>
     
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_histories.each do |bill_history| %>
      <tr>
        
        <!-- <td><%#= bill_history.other_names + " " + bill_history.surname %></td> -->
        <td><%= bill_history.service_name %></td>
        <td>GHC <%= bill_history.price %></td>
        <td><%= bill_history.created_at %></td>
       

         <% if bill_history.status == false %>
          <td> <%= 'Outstanding'%> </td>
          <% else bill_history.status == true  %>
          <td><%= 'Paid' %>  
      </td>
        <% end %>
        
       
      <!--   <td><%#= link_to 'Print' %></td>  -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  </div>
</div>
</section>
 
</section>