



<div class="table-agile-info">

  
 <table class="custab table table-striped table-hover table-bordered">
      <h4> Personal Information </h4>
          <tr>
            <% if (defined?(@patients1)).nil? %>
                  <% else  %>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Surname</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.surname %></td>
          </tr>
           <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Other names</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.other_names %></td>
          </tr>
            <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Mobile number</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.mobile_number %></td>
          </tr>
             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Occupation</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.occupation %></td>
          </tr>
           
            <tr>
             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Date Of birth</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.dob %></td>
              </tr>


              <tr>
             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Age</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @age.to_s + "years"  %></td>
              </tr>

                <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Gender</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.gender %></td>
              </tr>

          
          
          
         
 <% end %>

          
         
           </table>



           <table class="custab table table-striped table-hover table-bordered">
      <h4> Medical Record </h4>
          <tr>
            <% if (defined?(@patients1)).nil? %>
                  <% else  %>
           
            <tr>
             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Diagnosis</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=  @final_diagnosis %></td>
              </tr>

                <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Date</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @time %></td>
              </tr>

               

          
         
 <% end %>

          
         
           </table>


</div>







