$("#hii").html("<%= escape_javascript(render 'lab_requests/enter_results') %>");
$("#modal-window").html("<%= escape_javascript(render 'lab_requests/enter_results') %>");
$('#modal-window').on('shown.bs.modal', function() {
  $('form[data-validate]').enableClientSideValidations();
}).modal('show'); 