$("#hi").html("<%= escape_javascript(render 'lab_requests/lab_form') %>");
 // $("#modal-window").html("<%= escape_javascript(render 'lab_requests/lab_form') %>");
 $('#modal-window').modal('show');