$("#hii").html("<%= escape_javascript(render 'lab_requests/lab_history') %>");
$("#modal-window").html("<%= escape_javascript(render 'lab_requests/lab_history') %>");
 $('#modal-window').modal('show');