


 $("#test").html("<%= escape_javascript(render 'lab_requests/lab_medical_records') %>");
//$("#modal-window").html("<%= escape_javascript(render 'lab_requests/lab_medical_records') %>");
$('#modal-window').on('shown.bs.modal', function() {
  $('form[data-validate]').enableClientSideValidations();
}).modal('show'); 