<section id="main-content">
  <section class="wrapper">
    <fieldset>
      <div class="row2 col-md-8 col-md-offset-1 custyle">
        <div class="row2">
          <div class="container">
            <div class="card-container.card"
						<div class="col-md-10  col-md-offset-1">
              <div class="search-container">
                <div class="radios-n-fields">
                  <%=form_tag other_lab_path, method: :get, input_html:{display:"block"} do %>
                    <div class="col-md-5  col-md-offset-0">
                      <div class="radio_div">
                        <div class="pull-left"><input id="name" type="radio" name="search_param" value="f_name" style="width:
						auto;" />First Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <div class="pull-left"><input id="name" type="radio" name="search_param" value="name" style="width:
						auto;" />Second Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <div class="pull-left"><input id="card_no" type="radio" name="search_param" value="card_no" style="width:
						auto;" />Patient No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <!--   <div class="pull-left"><input id="mobile_number" type="radio" name="search_param" value="mobile_number" style="width:
						auto;" />Mobile Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> 
                         <div class="pull-left"><input id="date" type="radio" name="search_param" value="date" style="width: auto;"/>Filter by date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->
                        <div class="pull-left">  <input id="search-field" class="form-control hidden2" name="search_value"/></div>
                        <div id="date_div" class="hidden">
                          <div class='input-group date col-md-6' id='datetimepicker6'>
                            <input type="text" class="input-group date form-control" name="start_date" id="date-field" placeholder="Start date "/>
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                          </div>
                          <div class='input-group date col-md-6' id='datetimepicker7'>
                            <input type="text" class="input-group date form-control" name="end_date" id="date-field2" placeholder="End date "/>
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                          </div >
                        </div>
                        <div class="pull-left">  <input type="submit" id="search-field2" class="form-control hidden2" value="Search" class="btn btn-primary"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<div class="table-agile-info">
  <div class="panel panel-default">
    <br>
    <br>
    <div class="panel-heading">
      Lab Requests
    </div>
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
					"paging": {
					"enabled": true
					},
					"filtering": {
					"enabled": true
					},
					"sorting": {
					"enabled": true
					}}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">No</th>
            <th>Patient No</th>
            <th>Name</th>
            <th>Date</th>
            <th>Test Ordered</th>
            <th colspan="12"></th>
          </tr>
        </thead>
        <tbody>
          <% count=1 %>
          <% @lab_requests.each do |patient| %>
            <tr>
              <td><%= count %></td>
              <td><%= patient.card_no%></td>
              <td><%= patient.other_names + " " +  patient.surname %></td>
              <td><%= patient.created_at.strftime("%B %d, %Y, %H:%M") %></td>
              <td><%= patient.service_name %></td>
              <td ><%= link_to 'Check Medical Record', lab_medical_records_path(:id => patient.patient_id),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myMomo'} %></td>
              <td ><%= link_to 'Upload Lab Results', enter_results_path(:id => patient.id),{:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>
            </tr>
            <% count=count+1 %>
          <% end %>
        </tbody>
      </table>
      <center>
        <div class="digg_pagination">
          <%= will_paginate @lab_requests %>
        </div>
      </center>
    </div>
  </div>
</section>
</section>
<div id="myMomo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Medical Record</h4>
      </div>
      <div class="modal-body" id = 'test'>
        <%= render "lab_medical_records" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title"> Submit Test Results</h4>
      </div>
      <div class="modal-body" id = 'hii'>
        <%= render "enter_results" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#datetimepicker').datetimepicker({
  	format : 'DD-MM-YYYY'
  })
  $('[data-behaviour~=datetimepicker]').datetimepicker();
</script>
<script  type="text/javascript">
  $(document).ready(function() {
  $(".radio_div div input").click(function() {
  $("#date_div").addClass("hidden");
  $("#search-field").removeClass("hidden");
  $("#narrative_div").addClass("hidden");
  });
  $("#card_no").click(function() {
  if ($("#card_no").is(":checked")) {
  $("#search-field").attr("placeholder", "Patient Number");
  $("#search-field2").removeClass("hidden")
  $("#search-field").removeClass("hidden2");
  }
  });
  $("#mobile_number").click(function() {
  if ($("#mobile_number").is(":checked")) {
  $("#search-field").attr("placeholder", "Mobile Number");
  $("#date_div").addClass("hidden");
  $("#search-field").removeClass("hidden");
  }
  });
  $("#name").click(function() {
  if ($("#name").is(":checked")) {
  $("#search-field").attr("placeholder", "Patient Name");
  $("#date_div").addClass("hidden");
  $("#search-field").removeClass("hidden");
  }
  });
  $("#date").click(function() {
  $("#date_div").removeClass("hidden");
  $("#search-field").addClass("hidden");
  $("#date-field").removeClass("hidden");
  $("#date-field2").removeClass("hidden");
  $("#search-field2").removeClass("hidden")
  });
  $("#date-field").click(function() {
  $("#date_div").removeClass("hidden");
  $("#search-field").addClass("hidden");
  $("#date-field").removeClass("hidden");
  $("#date-field2").removeClass("hidden");
  $("#search-field2").removeClass("hidden")
  });
  $("#date-field2").click(function() {
  $("#date_div").removeClass("hidden");
  $("#search-field").addClass("hidden");
  $("#date-field").removeClass("hidden");
  $("#date-field2").removeClass("hidden");
  $("#search-field2").removeClass("hidden")
  });
  $.fn.datepicker.noConflict = function() {
  $.fn.datepicker = old;
  return this;
  };
  $('#csv').click(function() {
  console.log('works!');
  $('#csv_perpage').val($('#record').val());
  $('#csv_page').val($('li.active span').html());
  $('#csv_submit').click();
  console.log('works!');
  });
  $('#excel').click(function() {
  $('#excel_perpage').val($('#record').val());
  $('#excel_page').val($('li.active span').html());
  $('#excel_submit').click();
  });
  }); 
