<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
<div class="table-agile-info">

	<%= simple_form_for(@incident_report) do |f| %>
	<%= f.error_notification %>
	<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="input-row">
	<div class="input-width">

		
		<%= f.input :incident_type, :collection => %w[Clinical Non-Clinical ] %>
	</div>

	<div class="input-width">

		<%= f.input :incidate_date, label: "Incidate Date", as: :string,input_html: { id: "datetimepicker",placeholder: 'dd-mm-yy' }  %>
	</div>



	<div class="ggg">

		<%= f.input :incident_description,label: "Describe Incident", as: :text, input_html: { rows: "4",placeholder: 'Address'}  %>

	</div>

	<div class="ggg">

		<%= f.input :action_taken,label: "Action Taken", as: :text, input_html: { rows: "4",placeholder: 'Address'}  %>

	</div>

	<br />

<div class="form-inputs">
	<%= f.input :user_id, :as=> :hidden, input_html: {value: current_user.id} %>
</div>
<div class="form-inputs">
	<%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>

</div>


</div>

<center>

	<div >
		<%= f.button :submit,"Submit Report", :class => 'btn-success',:style=>"width:auto;" %>

	</div>
</center>

<% end %>

</div>



<script type="text/javascript">
				$('#datetimepicker').datetimepicker({
					format : 'DD-MM-YYYY'
				})
				$('[data-behaviour~=datetimepicker]').datetimepicker();
			</script> 

