<p id="notice"><%= notice %></p>

<h1>Listing Service Inventory Histories</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_inventory_histories.each do |service_inventory_history| %>
      <tr>
        <td><%= service_inventory_history.service_id %></td>
        <td><%= service_inventory_history.price %></td>
        <td><%= link_to 'Show', service_inventory_history %></td>
        <td><%= link_to 'Edit', edit_service_inventory_history_path(service_inventory_history) %></td>
        <td><%= link_to 'Destroy', service_inventory_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service inventory history', new_service_inventory_history_path %>
