<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @service_inventory_history.service_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service_inventory_history.price %>
</p>

<%= link_to 'Edit', edit_service_inventory_history_path(@service_inventory_history) %> |
<%= link_to 'Back', service_inventory_histories_path %>
