<section id="main-content">
	<section class="wrapper">
		
		<fieldset>
			<div class="row col-md-8 col-md-offset-1 custyle">
				<div class="row">
					<div class="container">
						<div class="card-container.card"
						<div class="col-md-10  col-md-offset-1">

						<div class="search-container">

						<div class="radios-n-fields">

						<%=form_tag patients_path, method: :get, input_html:{display:"block"} do %>

						<div class="col-md-5  col-md-offset-0">
						<div class="radio_div">
						
						<div class="pull-left"><input id="name" type="radio" name="search_param" value="name" style="width:
						auto;" />Patient Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

						<!-- <div class="pull-left"><input id="date" type="radio" name="search_param" value="date" style="width: auto;"/>Filter by date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->

						<div class="pull-left">  <input id="search-field" class="form-control hidden" placeholder="Mobile number" name="search_value"/></div> 

						<div id="date_div" class="hidden">

						<div class='input-group date col-md-6' id='datetimepicker6'>
						<input type="text" class="input-group date form-control" name="start_date" id="date-field" placeholder="Start date "/>
						<span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>

						</div>

						<div class='input-group date col-md-6' id='datetimepicker7'>
						<input type="text" class="input-group date form-control" name="end_date" id="date-field2" placeholder="End date "/>
						<span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
						</div >
						</div>

						<div class="pull-left">  <input type="submit" id="search-field2" class="form-control hidden" value="Search" class="btn btn-primary"></div>

						</div>
						</div>
						</div>
						<% end %>
						</div>
						</div>
						</div>
						</div>
						</div>
						</div>
						</div>
		</fieldset>

		<div class="table-agile-info">
			<div class="panel panel-default">

				<div class="panel-heading">
					Bills
				</div>

				<div style="overflow-x:auto;">
					<table class="table" ui-jq="footable" ui-options='{
					"paging": {
					"enabled": true
					},
					"filtering": {
					"enabled": true
					},
					"sorting": {
					"enabled": true
					}}'>
						<thead>
							<tr>
							<th>Patient No</th>
								<th>Patient</th>
								<th>Date</th>

								<th colspan="3"></th>
							</tr>
						</thead>

						<tbody>
							<% @bill_temps.each do |bill_history| %>
							<tr>

								<td><%= bill_history.card_no %></td>

								<td><%= link_to bill_history.other_names.upcase + " " + bill_history.surname.upcase , bill_open_path(:id => bill_history.patient_id),{:remote => true,'data-toggle' =>  "modal",'data-target' => '#myModal'} %></td>
								<td><%= bill_history.created_at.strftime("%B %d, %Y, %H:%M ") %></td>

							</tr>
							<% end %>
						</tbody>
					</table>
					<center>
						<div class="digg_pagination">
							<%= will_paginate @bill_temps %>
						</div>
					</center>
					<br>

				</div>
			</div>
	</section>

</section>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content" id="modal-size" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Bill History</h4>
			</div>
			<div class="modal-body" id = 'hi'>
				<%#= render "assign_lab" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>



<script>
	$(document).ready(function() {
		$(".radio_div div input").click(function() {
			$("#date_div").addClass("hidden");
			$("#search-field").removeClass("hidden");
			$("#narrative_div").addClass("hidden");
		});
		$("#name").click(function() {
			if ($("#name").is(":checked")) {
				$("#search-field").attr("placeholder", "Patient Number");
				$("#search-field2").removeClass("hidden")
			}
		});
		$("#mobile_number").click(function() {

			if ($("#mobile_number").is(":checked")) {

				$("#search-field").attr("placeholder", "Mobile Number");
				$("#date_div").addClass("hidden");
				$("#search-field").removeClass("hidden");
			}
		});
		
		
		$("#date").click(function() {
			$("#date_div").removeClass("hidden");
			$("#search-field").addClass("hidden");
			$("#date-field").removeClass("hidden");
			$("#date-field2").removeClass("hidden");
			$("#search-field2").removeClass("hidden")

		});
		$("#date-field").click(function() {
			$("#date_div").removeClass("hidden");
			$("#search-field").addClass("hidden");
			$("#date-field").removeClass("hidden");
			$("#date-field2").removeClass("hidden");
			$("#search-field2").removeClass("hidden")
		});
		$("#date-field2").click(function() {

			$("#date_div").removeClass("hidden");
			$("#search-field").addClass("hidden");
			$("#date-field").removeClass("hidden");
			$("#date-field2").removeClass("hidden");
			$("#search-field2").removeClass("hidden")
		});
		$.fn.datepicker.noConflict = function() {
			$.fn.datepicker = old;
			return this;
		};
		$('#csv').click(function() {
			console.log('works!');
			$('#csv_perpage').val($('#record').val());
			$('#csv_page').val($('li.active span').html());
			$('#csv_submit').click();
			console.log('works!');
		});
		$('#excel').click(function() {
			$('#excel_perpage').val($('#record').val());
			$('#excel_page').val($('li.active span').html());
			$('#excel_submit').click();
		});
	}); 
</script>