 
<!-- <div class="row"> -->
  <div class="col-md-12 col-md-offset-0">
     
  <div class="table-agile-info">
 <div class="panel-default"> 


<div class="invoice">
<div class="imgup1">
        <!-- <img width="230" height="70" src=/assets/logo2.png  > -->

       <!-- <img src="http://www.emr.britanniamedical.org/assets/logo2.png" width="230" height="70" /> -->

       <img src="http://www.emr.britanniamedical.org/assets/brit_logo.jpg" width="120" height="80" />
       
         
        </div>

  
 
 <!--  <p>To: <%#= bill_history[0].surname + " " + bill_history[0].other_names %></p>
  <p>Date: <%#= bill_history[0].created_at.strftime("%B %d, %Y, %H:%M")  %></p> -->
 <br>

 <table class="custab table table-striped table-hover table-bordered">

          <tr>
          
            <td class="table_data"><b>PATIENT NO.</b></td>
            <td class="table_data2"><%=   bill_history[0].card_no %></td>

             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff"><b>DOB</b></td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   bill_history[0].dob %></td>
          </tr>
           <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff"><b>PATIENT NAME</b></td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   bill_history[0].surname + " " + bill_history[0].other_names %></td>

             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff"><b>RECIEPT DATE</b></td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=  Time.now.strftime("%B %d, %Y, %H:%M") %></td>


          </tr>
           <!-- <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff"><b>RECEIPT NO</b></td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=    %></td>
          </tr> -->
          <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff"><b>INSURANCE CO</b></td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=    %></td>



             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff"><b>POLICY DETAIL</b></td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=    %></td>
          </tr>
  </table>

 
  <table class="custab table table-striped table-hover table-bordered">
    <thead>
        <tr>
          <th>Service  description </th>
        <th>Gross Amount </th>
          <th>Quantity </th>
         
          <th>Credit top-up </th>
          <th>Net Amount </th>
          <th>Payment Status </th>
           

          
          
        </tr>
      </thead>
      <tbody>
        <% bill_history.each do |item| %>
          <tr>
            <td><%= item.service_name %></td> 
            <td><%= item.price %></td>
            <td><%= %></td> 
           
            <td><%= %></td> 
            <td><%= item.price %></td>
             <td><%= "#{ item.status ? 'Paid' : 'Oustanding' }" %></td>
          </tr>
        <% end %>
        <br>
        <tr class="total">
          <td style="text-align: right">Amount Paid: </td>
          <td>GHC <%= total_paid %></span></td>

           <td style="text-align: right">Amount Due: </td>
          <td>GHC <%= total_owe %></span></td> 
        </tr>
      </tbody>


  </table>

<table class="custab table table-striped table-hover table-bordered">
    <thead>
        <tr>
          <th>Pay Mode </th>
          <th> Amount ( GHC)  </th>
          <th>Charge % </th>
          <th>Charge Amount  </th>
         
          <th>Ref.</th>
          <th>Ref No. </th>



          
          
        </tr>
      </thead>
      <tbody>
        <% bill_history.each do |item| %>
          <tr>
            <td><%= item.insurance_cash %></td> 
            <td><%= item.price %></td>
            <td><%= %></td> 
            <td><%= item.price %></td>
            <td><%= %></td> 
            <td><%=  %></td>
          </tr>
        <% end %>
        <br>
        
      </tbody>


  </table>
  <div class="">
 <p>Cash Collected by Caleb Hoffmann<p>
      <p style="color:red">Receipt printed by : caleb Hoffman<p>
      <p style="color:red">Print date: <%= Time.now.strftime("%B %d, %Y, %H:%M") %><p>

</div>

<div class="move-to-bottom">
 <p>Software designed and developed by Devdex Software<p>
      <p style="color:red">www.devdexsoftware.com || 0276113371<p>

</div>


</div>


 </div>


 </div>      
  </div>

<!--   </div> -->