 



<div class="">
<div class="imgup1">
     
       <img src="http://www.emr.britanniamedical.org/assets/brit_logo.jpg" width="120" height="80" />
       
         
        </div>

 <br>

 <p><span style="font-weight: 800">To:</span> <%= bill_history[0].surname + " " + bill_history[0].other_names %></p>
 <p><span style="font-weight: 800">Patient No:</span> <%=  bill_history[0].card_no %></p>
  <p><span style="font-weight: 800">Receipt Date:</span> <%= Time.now.strftime("%B %d, %Y, %H:%M")  %></p> 



 
  <table class="custab table table-striped table-hover table-bordered">
    <thead>
        <tr>
          <th>Service  description </th>
         <!--  <th> Service code </th>
          <th>Rate </th>
          <th>Quantity </th>
          <th>Gross Amount </th>
          <th>Credit top-up </th> -->
          <th>Amount </th>
           

          
          
        </tr>
      </thead>
      <tbody>
        <% bill_history.each do |item| %>
          <tr>
            <td><%= item.service_name %></td> 
           <!--  <td><%#= %></td> 
            <td><%#= item.price %></td>
            <td><%#= %></td> 
            <td><%#= item.price %></td>
            <td><%#= %></td>  -->
            <td><%= item.price %></td>
          </tr>
        <% end %>
        <br>
        <tr class="total">
          <td style="text-align: right">Amount Paid: </td>
          <td>GHC <%= total %></span></td> 
        </tr>
      </tbody>


  </table>

<!-- <table class="custab table table-striped table-hover table-bordered">
    <thead>
        <tr>
          <th>Pay Mode </th>
          <th> Amount ( GHC)  </th>
          <th>Charge % </th>
          <th>Charge Amount  </th>
          <th>Received Amount  </th>
          <th>Ref.</th>
          <th>Ref No. </th>



          
          
        </tr>
      </thead>
      <tbody>
        <% #bill_history.each do |item| %>
          <tr>
            <td><%#= item.insurance_cash %></td> 
            <td><%#= item.price %></td>
            <td><%#= %></td> 
            <td><%#= %></td>
            <td><%#= %></td> 
            <td><%#=  %></td>
            <td><%#=  %></td>
          </tr>
        <% #end %>
        <br>
        
      </tbody>


  </table> -->
  <div class="">
 <p style="font-size: 8px">Cash Collected & Receipt printed by Caleb Hoffmann<p>

      <p style="color:red;font-size: 8px">Print date: <%= Time.now.strftime("%B %d, %Y, %H:%M")%><p>
      <p style="font-size: 6px;">Software designed and developed by Devdex Software <br> www.devdexsoftware.com || 0276113371<p>

</div>
<br>
<br>

 



</div>

