<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @bill_temp.patient_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bill_temp.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill_temp.status %>
</p>

<%= link_to 'Edit', edit_bill_temp_path(@bill_temp) %> |
<%= link_to 'Back', bill_temps_path %>
