<p id="notice"><%= notice %></p>

<p>
  <strong>Service name:</strong>
  <%= @services_inventory.service_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @services_inventory.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @services_inventory.category_id %>
</p>

<p>
  <strong>Quantifiable:</strong>
  <%= @services_inventory.quantifiable %>
</p>

<%= link_to 'Edit', edit_services_inventory_path(@services_inventory) %> |
<%= link_to 'Back', services_inventories_path %>
