

  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <table class="custab table table-striped table-hover table-bordered">
 
      
<br>
      
                             
<br>
<br>
               
          
 <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
    <tr>
      
    <th>No</th>
       <th>Order</th>
        <th>Quantity</th>
        <th>Dosage</th>
      <th>Date</th>
     
     
       
     
      
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
      <% count=1 %>

           <% @medication_requests.each do |medication_request| %>
      <tr>
         
        <td><%= count %></td> 
    
         <td><%= medication_request.service_name %></td>
         <td><%= medication_request.drug_quantity %></td>
         <td><%= medication_request.dosage %></td>
         <td><%= medication_request.created_at.strftime("%B %d, %Y %H:%M")%></td>
       
		<td class="medication_request-<%= medication_request.id %>">
    <%= link_to "#{ medication_request.status ? 'Closed' : 'Close Order' }", close_med_request_path(:id => medication_request.id),{remote: :true, class: "btn btn-xs btn-#{ medication_request.status  ? 'success' : 'warning' }"} %>
</td>	

 <td ><%= link_to 'Delete', delete_med_record_path(:created_at => medication_request.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
</td>
	
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
</table>

 
  </div>

          
  </div>
</div>










