
<% if @order_id.status == true %>
    $(".medication_request-<%= @order_id.id %> > a").html('Close Request').removeClass('btn-warning').addClass('btn-success')
<% else %>
    $(".medication_request-<%= @order_id.id %> > a").html('Closed').removeClass('btn-success').addClass('btn-success')
<% end %>
$("#order_status-status-<%= @order_id.id %>").html("<%= @order_id.status %>")




