<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
      <div class="panel panel-default">
        <div class="panel-heading">
          Medication Orders
        </div>
        <div style="overflow-x:auto;">
          <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
            <thead>
              <tr>
                <th>Patient</th>
                <th>Order Date</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @medication_temps.each do |medication_temp| %>
                <tr>
                  <td><%= link_to medication_temp.other_names.upcase + " " + medication_temp.surname.upcase , open_med_temp_path(:id => medication_temp.patient_id),{:remote => true,'data-toggle' =>  "modal",'data-target' => '#myModal'} %></td>
                  <td><%= medication_temp.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <center>
            <div class="digg_pagination">
              <%= will_paginate @medication_temps %>
            </div>
          </center>
          <br>
        </div>
      </div>
    </section>
  </section>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Medication Orders</h4>
        </div>
        <div class="modal-body" id = 'hi'>
          <%#= render "assign_lab" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
