

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
 
        <table class="custab table table-striped table-hover table-bordered">

           <%# @@patients1s.each do |@patients1| %>
                                
                              

          <tr>
            <% if (defined?(@patients1)).nil? %>
                  <% else  %>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Surname</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.surname %></td>
          </tr>
           <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Other names</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.other_names %></td>
          </tr>
            <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Mobile number</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.mobile_number %></td>
          </tr>
             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Occupation</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.occupation %></td>
          </tr>
            <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Address</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.address %></td>
          </tr>
             <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Date Of birth</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patients1.dob %></td>
         
 <% end %>
        <% #end %>
          
         
           </table>
          
  </div>
</div>






