<!-- <div class="row">
	<div class="col-md-8 col-md-offset-2"> -->
		<table class="custab table table-striped table-hover table-bordered">

			<br>


			<div class="cent"  >
				<b>
				<p>
					Vital Documents
				</p></b>
			</div>

			<% if (defined?(@documents)).nil? %>
			<% else  %>
			<tbody>
				<% @documents.each do |document| %>
				
				<div>			
				<p>Date vitals was taken: <%= document.created_at %></p>				
				<p>Blood Pressure: <%= document.blood_pressure %></p>
				<p>Pulse: <%= document.pulse %></p>
				<p>Temperature: <%= document.temp %></p>
				<p>Respiratory Rate: <%= document.respiratory_rate %></p>
				<p>Complaints: <%= document.complaints %></p>
				<br>
				</div>	
				
				

				<!-- <tr>
					<td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Date vitals was taken</td>
					<td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%= document.created_at %></td>
				</tr>
				
				<tr>
					<td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Blood pressure</td>
					<td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%= document.blood_pressure %></td>

				</tr>
				<tr>

					<td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">pulse</td>
					<td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%= document.pulse %></td>

				</tr>
				<tr>

					<td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Temp</td>
					<td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%= document.temp %></td>

				</tr>
				<tr>

					<td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Respiratory Rate</td>
					<td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%= document.respiratory_rate %></td>

				</tr>

				<tr>
					<td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Complaints</td>
					<td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%= document.complaints %></td>
				</tr> -->
				<% end %>
				<% end %>
			</tbody>

		</table>
		

	<!-- </div>
</div> -->

