$("#hi").html("<%= escape_javascript(render 'assign_patients/assign_lab') %>");
  $("#modal-window").html("<%= escape_javascript(render 'assign_patients/assign_lab') %>");
 $('#modal-window').modal('show');