$("#hey1").html("<%= escape_javascript(render 'assign_patients/basic_medical') %>");
// $("#modal-window").html("<%= escape_javascript(render 'assign_patients/basic_medical') %>");
 $('#modal-window').modal('show');