$("#fii").html("<%= escape_javascript(render 'assign_patients/clinic_documentation') %>");s
 $("#modal-window").html("<%= escape_javascript(render 'assign_patients/clinic_documentation') %>");
 $('#modal-window').modal('show');

 



 // myModal3