<section id="main-content">
  <section class="wrapper">
  
    <div class="table-agile-info">
      <div class="panel panel-default">

        <div class="panel-heading">
         Treatment Sheets
        </div>

        <div style="overflow-x:auto;">


<%= simple_form_for(@treatment_sheet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :drugs %>
    <%= f.input :time %>
  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

 <div class="form-inputs">
   
    <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


 </div>
 </div>
</div>


  </section>

</section>
