


<%= simple_form_for(@treatment_sheet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :drugs %>
    <%#= f.input :time %>

    <%= f.input :time, label: "Time", as: :string,input_html: { id: "datetimepicker",placeholder: 'Choose time' }  %>
  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

 <div class="form-inputs">
   
    <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

      <%= f.input :status, :as=> :hidden,input_html: {value: 0} %>

</div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript">
        $('#datetimepicker').datetimepicker({
          format : 'HH:mm:ss'
        })
        $('[data-behaviour~=datetimepicker]').datetimepicker();
      </script> 

