<body>





<section id="main-content">
<section class="wrapper">
<div class="panel-heading ui-sortable-handle">
					<span class="panel-icon">
                      <i class="fa fa-calendar-o"></i>
                    </span>
                    <span class="panel-title"> Daily Stats</span>
                </div>

<!-- <div id="myfirstchart" style="height: 250px;"></div> -->

<%#= content_tag :div, "", id: "patient_chart", data: {patients: @patients} %>

<%#= content_tag :div, "", id: "myfirstbar2", data: {patients: @patients} %>

 <!-- <div id="donut" style="height: 250px;"></div>  -->

<!-- <div id="myfirstchart2" style="height: 250px;"></div> -->

<div class="four-grids">
					<div class="col-md-3 four-grid">
						<div class="four-agileits">
							<div class="icon">
								<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Total Clients</h3>
								<h4><%= @patient_stats %> </h4>
								
							</div>
							
						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-agileinfo">
							<div class="icon">
								<i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>New Registration</h3>
								<h4> <%= @lastday %> </h4>

							</div>
							
						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-w3ls">
							<div class="icon">
								<i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Appointments</h3>
									<h4> <%= @dailyappointments %> </h4>	
							</div>
							
						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-wthree">
							<div class="icon">
								<i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Physician Visits</h3>
								<h4> <%= @dailyDoctor %> </h4>
								
							</div>
							
						</div>
					</div>
					<div class="clearfix"></div>
				</div>















	
		<div class="col-md-6 agile-calendar">
			<div class="calendar-widget">
                <div class="panel-heading ui-sortable-handle">
					<span class="panel-icon">
                      <i class="fa fa-calendar-o"></i>
                    </span>
                    <span class="panel-title"> Calendar Widget</span>
                </div>
				<!-- grids -->
					<div class="agile-calendar-grid">
						<div class="page">
							
							<div class="w3l-calendar-left">
								<div class="calendar-heading">
									
								</div>
								<div class="monthly" id="mycalendar"></div>
							</div>
							
							<div class="clearfix"> </div>
						</div>
					</div>
			</div>
		</div>
				
</section>
 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  <p>© 2020 - Present | <a href="https://www.devdexsoftware">Devdex Software . All rights reserved </a></p>
			  	<!-- | Developed by <a href="https://www.devdex.software">Devdex Software -->
			</div>
		  </div>
  <!-- / footer -->
</section>
<!--main content end-->
</section>
<!-- calendar -->
	<script type="text/javascript" src="/assets/monthly.js"></script>
	<script type="text/javascript">
		$(window).load( function() {

			$('#mycalendar').monthly({
				mode: 'event',
				
			});

			$('#mycalendar2').monthly({
				mode: 'picker',
				target: '#mytarget',
				setWidth: '250px',
				startHidden: true,
				showTrigger: '#mytarget',
				stylePast: true,
				disablePast: true
			});

		switch(window.location.protocol) {
		case 'http:':
		case 'https:':
		// running on a server, should be good.
		break;
		case 'file:':
		alert('Just a heads-up, events will not work when run locally.');
		}

		});
	</script>


	<script type="text/javascript">

	new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'patient_chart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: $('#patient_chart').data('patients'),
  // The name of the data record attribute that contains x-values.
  xkey: 'created_at',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['id'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Total No']
});
	</script>



	<script type="text/javascript">

	new Morris.Bar({
  element: 'myfirstbar2',
 data: $('#myfirstbar2').data('patients'),
  xkey: 'created_at',
  ykeys: ['id'],
  labels: ['Patient Total']
});

// 	</script>


	<script>
 new Morris.Donut({
  element: 'donut',
  data: [
    {label: "Download Sales", value: 12},
    {label: "In-Store Sales", value: 30},
    {label: "Mail-Order Sales", value: 20}
  ]
});

	</script>
</body>

