

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="/assets/bootstrap-combobox.js"></script>

   <div class="table-agile-info" role="form">

 
   <%= simple_form_for(@medication_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 

                             


  <div class="form-group">
 
    <%= f.input :personnel_id,label: "Pharmacist", collection: Role.where("id = 5"), label_method: :role_name, value_method: :id,class:'form-control'%>
  </div>


  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.role_id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

<!-- <div class="form-group">

    <%#= f.input :medication, label: "Medication", as: :string, input_html: { class: 'form-control' } %>
  </div> -->


    <div class="form-group">
 
    <%#= f.input :service_id,label: "Type of lab request", collection: ServicesInventory.where("category_id = 2"), label_method: :service_name, value_method: :id,class:'form-control'%>

     <%= f.input :service_id, label: "Type of medication", collection:  @service_list,  label_method: :first, value_method: :last, input_html:{ class:"combobox form-control",data: { placeholder: "Type of lab request" } }%>

  
  </div>

<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden %>

   <% else  %>
  <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>

  </div>

   <div class="form-inputs">
  <% if (defined?(@basic_med_id)).nil? %>
    <%= f.input :basic_medical_record_id,:as=> :hidden %>
   <% else  %>
  <%= f.input :basic_medical_record_id, :as=> :hidden,input_html: {value: @basic_med_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>
<% end %>
  </div>

 




  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 0 } %>

  </div>

<center>

   <div class="form-actions">
    <%#= f.button :submit %>
     <%= f.submit "Request Lab",:class => "btn btn-primary btn-sm" %>
  </div>
  </center>

<% end %>

<% end %>

</div>





<script type="text/javascript">
    $(document).ready(function(){
         $('form').attr('autocomplete', 'off');
        
         $('.combobox').combobox();

   $('span.input-group-addon').addClass("hidden");
  
    });
</script>