$("#hi").html("<%= escape_javascript(render 'medication_requests/med_form') %>");
  $("#modal-window").html("<%= escape_javascript(render 'medication_requests/med_form') %>");
 $('#modal-window').modal('show');