<p id="notice"><%= notice %></p>

<p>
  <strong>Basic medical record:</strong>
  <%= @medication_request.basic_medical_record_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @medication_request.patient_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @medication_request.user_id %>
</p>

<p>
  <strong>Personnel:</strong>
  <%= @medication_request.personnel_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @medication_request.status %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @medication_request.medication %>
</p>

<%= link_to 'Edit', edit_medication_request_path(@medication_request) %> |
<%= link_to 'Back', medication_requests_path %>
