$("#hii").html("<%= escape_javascript(render 'medication_requests/view_med') %>");
$("#modal-window").html("<%= escape_javascript(render 'medication_requests/view_med') %>");
 $('#modal-window').modal('show');