


   <div class="table-agile-info">

 
   <%= simple_form_for(@assign_patient) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

   <div class="ggg">
 
    
     <%#= f.input :service_id,label: " Choose Consultation", collection: ServicesInventory.where("category_id = 4  "), label_method: :service_name, value_method: :id,class: "ggg" %>

       

       <% logger.info "patient CASH OR INSURANCE in Form: #{@check_insurance} " %>
       <% logger.info "patient check_card: #{@check_card} " %>

     <%if @check_insurance == "Cash" %>

     <%= f.input :service_id, 
            collection: ServicesInventory.where("category_id = 4  "), label: " Choose Consultation for #{@check_insurance} ", value_method: :id,
           label_method: 

              lambda { 

               |plan| "#{plan.service_name} - Ghc #{plan.price}" 

              }%>

              <%else%>


              <%= f.input :service_id, 
            collection: ServicesInventory.where("category_id = 4  "), label: " Choose Consultation for #{@check_insurance}",value_method: :id,
           label_method: 

              lambda { 

               |plan| "#{plan.service_name} - Ghc #{plan.insurance_price}" 

              }%>

              <% end %>


  </div>


  <div class="ggg">
 
     <%#= f.input :personnel_id,label: "Select a Health Personnel", collection: Role.where("id = 1  or id = 3 "), label_method: :role_name, value_method: :id,class: "ggg" %>
     <%#= f.input :personnel_id,label: "Select a Health Personnel", collection: Role.where("id = 3  "), label_method: :role_name, value_method: :id,class: "ggg" %>

    

     <%= f.input :personnel_id, :as=> :hidden,input_html: {value: 3} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

  </div>


  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

  <div class="form-inputs">
    <%= f.input :role_id, :as=> :hidden,input_html: {value: current_user.role_id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden %>
   <% else  %>
  <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>
<% end %>
  </div>



  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 0 } %>

  </div>



<center>
   <div class="form-actions">
    <%#= f.button :submit %>
     <%= f.submit "Assign Patient",:class => "btn btn-primary btn-sm" %>
  </div>
</center>

<% end %>

</div>

