 

<div class="table-agile-info">

	<% if (defined?(@patients1)).nil? %>

	<% else  %>

	<%= simple_form_for(@patients1, :url => {:remote => true,:controller => 'patients', :action => 'update', :id => @patients1.id}) do |f| %>
	<%= f.error_notification %>
	<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


<div class="input-row">
	<div class="input-width" >

		<%= f.input :surname,  as: :string,input_html: { value: @patients1.surname} %>
	</div>

	<div class="input-width" >

		<%= f.input :other_names, label: "Other names", as: :string,input_html: { value: @patients1.other_names } %>
	</div>

	<div class="input-width">

		<%= f.input :mobile_number, label: "Mobile number", as: :string,input_html: { value: @patients1.mobile_number}  %>
	</div>

	<div class="input-width">

		<%= f.input :alt_number, label: "Other number", as: :string,input_html: { value: @patients1.alt_number }%>
	</div>

		<div class="input-width">

		<%= f.input :email, label: "Email", as: :string,input_html: { placeholder: 'Email', value: @patients1.email }%>
	</div>

	<div class="input-width">

		<%= f.input :dob, label: "Date of birth",as: :string,input_html: { id: "datetimepicker3",placeholder: 'dd-mm-yy' ,value: @patients1.dob}  %>
	</div>

	<div class="input-width">

		
		<%= f.input :gender, :collection => %w[Male Female Trans],input_html: { value: @patients1.gender }  %>
	</div>

		<div class="input-width">

		
		<%= f.input :marital_status, :collection => %w[Single Married Divorced],input_html: { value: @patients1.marital_status } %>
	</div>

	<div class="input-width">

		<%= f.input :religion, :collection => %w[Christian Muslim Budhist Traditional Others],input_html: { value: @patients1.religion } %>
	</div>

	<div class="input-width">

		<%= f.input :emergency_c_name, label: "Emergency Contact Name", as: :string,input_html: { placeholder: 'Emergency Contact Name' ,value: @patients1.emergency_c_name} %>
	</div>

	<div class="input-width">

		<%= f.input :emergency_c_number, label: "Emergency Contact Number", as: :string,input_html: { placeholder: 'Emergency Contact NUMBER',value: @patients1.emergency_c_number } %>
	</div>
	<div class="input-width">

		<%= f.input :emergency_c_email, label: "Emergency Contact Email", as: :string,input_html: { placeholder: 'Emergency Contact Email',value: @patients1.emergency_c_email } %>
	</div>

	<div class="input-width">

		<%= f.input :emergency_c_location, label: "Emergency Contact Location", as: :string,input_html: { placeholder: 'Emergency Contact Email',value: @patients1.emergency_c_location } %>
	</div>



	<div class="input-width">

		<%= f.input :occupation, label: "Occupation", as: :string,input_html: { value: @patients1.occupation } %>
	</div>

	<div class="input-width">

		<%= f.input :insurance_cash, label: "Insurance/Cash", :collection => %w[Insurance Cash],input_html: { value: @patients1.insurance_cash } %>
	</div>

	<div class="input-width">

		<%= f.input :refers, label: "Refered by", :collection => %w[Ghinger Friends Social-Media Sign-Posts Others] ,input_html: { value: @patients1.refers }%>
	</div>

	<div class="ggg">
	<%= f.input :address,label: "Provide Digital Address / Street Address (including Landmarks)", as: :text, input_html: { rows: "4",placeholder: 'Address',value: @patients1.address}  %>

		

	</div>

	<div class="form-inputs">
	<%= f.input :user_id, :as=> :hidden, input_html: {value: current_user.id} %>
</div>
<div class="form-inputs">
	<%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>

</div>

<div class="form-inputs">
	<%= f.input :assigned_status, :as=> :hidden, input_html: {value: 0 } %>

</div>

	</div>

	<center>
		<div >
			<%= f.button :submit,"Update Patient Details", :class => "btn btn-primary btn-sm",:style=>"width:auto;" %>
			


		</div>

	</center>

	<% end %>
	<% end %>


</div>

<script type="text/javascript">
				$('#datetimepicker3').datetimepicker({
					format : 'DD-MM-YYYY'
				})
				$('[data-behaviour~=datetimepicker]').datetimepicker();
			</script> 