<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
<div class="table-agile-info">

	<%= simple_form_for(@patient) do |f| %>
	<%= f.error_notification %>
	<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="input-row">
	<div class="input-width">

		<%= f.input :surname,  as: :string,input_html: { placeholder: 'Surname' } %>
	</div>

	<div class="input-width">

		<%= f.input :other_names, label: "Other names", as: :string,input_html: { placeholder: 'Other names' } %>
	</div>
	<div class="input-width">

		<%= f.input :mobile_number, label: "Mobile number", as: :string,input_html: { placeholder: 'Mobile number' }  %>
	</div>

	<div class="input-width">

		<%= f.input :alt_number, label: "Other number", as: :string,input_html: { placeholder: 'Other number' }%>
	</div>

	<div class="input-width">

		<%= f.input :email, label: "Email", as: :string,input_html: { placeholder: 'Email' }%>
	</div>

	<div class="input-width">

		<%= f.input :card_no, readonly: true,input_html: { value: @patient_bmc } %>
		<% logger.info "Patient number in form  is #{@patient_bmc}" %>
	</div>

	<div class="input-width">

		<%= f.input :dob, label: "Date of birth", as: :string,input_html: { id: "datetimepicker",placeholder: 'dd-mm-yy' }  %>
	</div>

	<div class="input-width">

		
		<%= f.input :gender, :collection => %w[Male Female Trans] %>
	</div>

		<div class="input-width">

		
		<%= f.input :marital_status, :collection => %w[Single Married Divorced] %>
	</div>

		<div class="input-width">

		<%= f.input :religion, :collection => %w[Christian Muslim Budhist Traditional Others] %>
	</div>
	<div class="input-width">

		<%= f.input :emergency_c_name, label: "Emergency Contact Name", as: :string,input_html: { placeholder: 'Emergency Contact Name' } %>
	</div>
	<div class="input-width">

		<%= f.input :emergency_c_number, label: "Emergency Contact Number", as: :string,input_html: { placeholder: 'Emergency Contact NUMBER' } %>
	</div>

	<div class="input-width">

		<%= f.input :emergency_c_email, label: "Emergency Contact Email", as: :string,input_html: { placeholder: 'Emergency Contact Email' } %>
	</div>

	<div class="input-width">

		<%= f.input :emergency_c_location, label: "Emergency Contact Location", as: :string,input_html: { placeholder: 'Emergency Contact Email' } %>
	</div>
	<div class="input-width">

		<%= f.input :occupation, label: "Occupation", as: :string,input_html: { placeholder: 'Occupation' } %>
	</div>

	<div class="input-width">

		<%= f.input :insurance_cash, label: "Insurance/Cash", :collection => %w[Insurance Cash] %>
	</div>

	<div class="input-width">

		<%= f.input :refers, label: "Refered by", :collection => %w[Ghinger Friends Social-Media Sign-Posts Others] %>
	</div>

	<div class="ggg">

		<%= f.input :address,label: "Provide Digital Address / Street Address (including Landmarks)", as: :text, input_html: { rows: "4",placeholder: 'Address'}  %>

	</div>

	<br />

<div class="form-inputs">
	<%= f.input :user_id, :as=> :hidden, input_html: {value: current_user.id} %>
</div>
<div class="form-inputs">
	<%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>

</div>

<div class="form-inputs">
	<%= f.input :assigned_status, :as=> :hidden, input_html: {value: 0 } %>

</div>


</div>

<center>

	<div >
		<%= f.button :submit,"Register Patient", :class => 'btn-success',:style=>"width:auto;" %>

	</div>
</center>

<% end %>

</div>



<script type="text/javascript">
				$('#datetimepicker').datetimepicker({
					format : 'DD-MM-YYYY'
				})
				$('[data-behaviour~=datetimepicker]').datetimepicker();
			</script> 

