
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 

<div class="table-agile-info">

	<%= simple_form_for(@reception_appointment, :url =>{:controller => 'appointments', :action => 'reception_appointment'}) do |f| %>

	<div class="form-inputs">
		<%= f.input :description, as: :text, input_html: {  rows: "4" } %>
		<%= f.input :doctor_id, collection: User.where("role_id = 1"), label_method: :fullname, value_method: :id,class:'form-control'%>
		<%= f.input :patient_id, :as=> :hidden, input_html: {value: @patient_id} %>
		<%= f.input :app_time, label: "Appointment Time", as: :string, input_html: { id: "datetimepicker2",placeholder: 'dd-mm-yy'}  %>



		<%= f.input :color, label: "Color" ,collection: [['yellow', 'yellow'], ['red', 'red'],['blue', 'blue'],['pink', 'pink']], label_method: :second, value_method: :first,input_html: { class: "form-control" }%>
		<%= f.input :status,as: :hidden,input_html: {value: 1 } %>
	</div>

	<center>

		<div class="form-actions">
			<%= f.button :submit %>

		</div>
	</center>
	<% end %>
</div>



<script type="text/javascript">
				$('#datetimepicker2').datetimepicker({
					format : 'DD-MM-YYYY'
				})
				$('[data-behaviour~=datetimepicker]').datetimepicker();
			</script> 



