$("#hey2").html("<%= escape_javascript(render 'patients/assign_a_patient') %>");
// $("#modal-window").html("<%= escape_javascript(render 'patients/assign_a_patient') %>");
 $('#modal-window').modal('show');
