<!-- <h1>Editing Patient</h1> -->

<%#= render 'form' %>

<%#= link_to 'Show', @patient %> |
<%#= link_to 'Back', patients_path %>



<br />
<div class="row2">
        <div class="col-md-3 col-xs-12"></div>
        <div class="col-md-6 col-xs-12 w3-card-4 w3-round-large" >
                <h4>Edit Profile </h4>
                <%= render :partial => 'new_edit' %>
                <br />
        </div>
        <div class="col-md-3 col-xs-12"></div>
</div>
<br /><br /><br />

