

<section id="main-content">


  <section class="wrapper">


    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
    
   <%= @patient_records.other_names + " " + @patient_records.surname %> FOLDER

    </div>


    <div style="overflow-x:auto;">
    <div class="patient_row"> 

    <div class="patient_col">
    <h4 style="text-align: center"> PERSONAL INFORMATION</h4>
      <div class="inner">
        <p> Name: <%= @patient_records.other_names + " " + @patient_records.surname %> </p>
        <p> Patient No: <%= @patient_records.card_no %> </p>
        <p> Mobile Number: <%= @patient_records.mobile_number %> </p>
        <p> Date Of Birth: <%= @patient_records.dob %> </p>
        <p> Occupation: <%= @patient_records.occupation %> </p>
        <p> Address: <%= @patient_records.address %> </p>
     
       </div>
    </div>

      <div class="patient_col">
     

    <h4 style="text-align: center"> VITALS</h4>
       
      <div class="inner">
      <% if (@basic_med_records[0]).nil? %>
       <p> No Vitals Recorded </p>

                  <% else  %>
     
        <p> Blood Pressure: <%=  @basic_med_records[0].blood_pressure %> </p>
        <p> Pulse: <%= @basic_med_records[0].pulse %> </p>
        <p> Temperature: <%= @basic_med_records[0].temp %> </p>
        <p> Respiratory Rate: <%= @basic_med_records[0].respiratory_rate %> </p>
         <p> Saturation: <%= @basic_med_records[0].saturation %> </p>
        <p> Weight: <%= @basic_med_records[0].weight %> </p>
        <p> Height: <%= @basic_med_records[0].height %> </p>

         <% end  %>
 
       </div>
       
    </div>


    </div>
 
    </div>
  </div>
</div>
</section>


 
</section>

