<!-- <body> -->
<div class="positions">
  <h2 style="margin-top: 2%;margin-bottom: 5%">  FIDEN MEDICAL CENTER </h2>
  <img width="213" height="225" src=/assets/logo.png >
  <div class="upup">
    <h3>Sign In</h3>
    <p>Take few seconds to sign in</p>
  </div>
</div>
<div class="log-w3">
  <div class="w3layouts-main">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>
      <%= f.error_notification %>
      <div >
        <label id="color">Username</label>
        <%= f.input :username, :label => false, placeholder: 'Enter Username' ,html_input:{class: "ggg",style:"width:70%;height:20%;"} %>
      </div>
      <div class="ggg">
        <label id="color">Password</label>
        <%= f.input :password,:label => false, placeholder: 'Enter Password', autocomplete: "off",class: "ggg",placeholder: 'password' %>
      </div>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>
<!-- </body> -->
