








<!-- <body> -->

<section id="main-content">
  <section class="wrapper">
  <div class="form-w3layouts">

    <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                         Personnel Detail
                        </header>
                        <div class="panel-body">
                            <div class="position-center">


<%= simple_form_for(@role) do |f| %>
    <%= f.error_notification %>

 <div class="panel-body">
     <div class="position-center">


  <div class="ggg">

    <%= f.input :role_name, label: 'Porfolio' , autofocus: true ,html_input:{style:"width:70%;height:20%;"} %>
  </div>
  
<br>
<center>
  <div class="actions">
    <%= f.submit "Create",:class => 'btn-success',:style=>"width:auto;" %>
  </div>
  </center>
<% end %>


<br>
<%= link_to "Back", :back %>

</div>

   </div>
</div>
</div>
</section>
 </section>



