<section id="main-content">
	<section class="wrapper">

		<div class="table-agile-info">
			<div class="panel panel-default">

				<br>
				<br>
				<div class="panel-heading">
					Radio/Ultra Results
				</div>

				<div style="overflow-x:auto;">
					<table class="table" ui-jq="footable" ui-options='{
					"paging": {
					"enabled": true
					},
					"filtering": {
					"enabled": true
					},
					"sorting": {
					"enabled": true
					}}'>
						<thead>
							<tr>
								<th>Patient No</th>
								<th>Patient</th>

								<th>Lab Ordered</th>
								<th>Date</th>
								<th colspan="3"></th>
							</tr>
						</thead>
						<tbody>
							<% count=1 %>

							<% @radio_test_results.each do |test_result| %>
							<tr>
								<td><%= test_result.card_no %></td>
								<td><%= test_result.other_names + " " +  test_result.surname %></td>

								<td><%= test_result.service_name %></td>
								<td><%= test_result.created_at %></td>

								<td> <%= link_to "Radio/Ultra Results", test_result.document.url, target: "_blank" %></td>

							</tr>
							<% count=count+1 %>
							<% end %>

						</tbody>
					</table>

					<center>

					</center>

				</div>
			</div>
	</section>

</section>


