
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 

   <div class="table-agile-info">

 
   <%= simple_form_for(@appt_document)  do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                             
<br>

 
  <div class="form-inputs">
    <%= f.input :description, as: :text, input_html: {  rows: "4" } %>
    <%= f.input :doctor_id, collection: User.where("role_id = 1"), label_method: :fullname, value_method: :id,class:'form-control'%>
    <%= f.input :patient_id, :as=> :hidden, input_html: {value: @patient_id} %>
    <%= f.input :app_time, label: "Appointment Time", as: :string, input_html: { id: "datetimepicker_4",placeholder: 'dd-mm-yy'}  %>


    <%= f.input :color, label: "Color" ,collection: [['yellow', 'yellow'], ['red', 'red'],['blue', 'blue'],['pink', 'pink']], label_method: :second, value_method: :first,input_html: { class: "form-control" }%>

    <%= f.input :status,as: :hidden,input_html: {value: 0 } %>
  </div>



<center>
   <div class="form-actions">
    
     <%= f.submit "Book Appointment" ,:class => "btn btn-primary btn-sm"%>
  </div>
</center>  
<% end %>



 </div>



 <script type="text/javascript">
        $('#datetimepicker_4').datetimepicker({
          format : 'DD-MM-YYYY'
        })
        $('[data-behaviour~=datetimepicker]').datetimepicker();
      </script> 


