$("#datetimepicker_4").datetimepicker();
$("#fii").html("<%= escape_javascript(render 'appointments/appt_documentation') %>");
 $("#modal-window").html("<%= escape_javascript(render 'appointments/appt_documentation') %>");
 $('#modal-window').modal('show');

 



 // myModal3