


  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <table class="custab table table-striped table-hover table-bordered">
 
      
<br>
    
                             
<br>
<br>
               
               <div class="cent"  ><b><p>Nurses Note</p></b></div>   <br> 


        
     
               <% if (defined?(@documents)).nil? %>
                  <% else  %>

                  <table>
  <tr>
    <td class="overflow-wrap-hack">
      <div class="content">
       <%=   @documents[0].notes %>
      </div>
    </td>
  </tr>
</table>

             
      
          

<% end %>

 </table>
          
  </div>
</div>






