$("#basic").html("<%= escape_javascript(render 'basic_med_records/admission_basic_medical') %>");
// $("#modal-window").html("<%= escape_javascript(render 'patients/assign_a_patient') %>");
 $('#modal-window').modal('show');