$("#hey1").html("<%= escape_javascript(render 'basic_med_records/assign_a_patient2') %>");
// $("#modal-window").html("<%= escape_javascript(render 'patients/assign_a_patient') %>");
 $('#modal-window').modal('show');
