
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">

                             
<br>
<br>
    <div class="panel-heading">
    Nurses Note
    </div>
    
    <div style="overflow-x:auto;">
      <table  class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
         <tr>
    <!--    <th>Nurses Note</th> -->
                <th>Time</th>
                <th>Written by</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @nurse_notes.each do |nurse_note| %>
      <tr>
        <!-- <td ><%#= nurse_note.notes %></td> -->
        <td><%= nurse_note.time.strftime("%B %d, %Y %H:%M") %></td>
         <td><%= nurse_note.fullname %></td>
         <td ><%= link_to 'Open Note', open_note_path(:id => nurse_note.created_at), {:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal4'} %></td>
        
 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


       <center>

<%= link_to 'Create Nurse Note', new_nurse_note_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

     </center>   

  </div>
</div>
</section>
 
</section>


<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Notes</h4>
      </div>
      <div class="modal-body" id = 'fire'>
      <%= render "open_note" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>





<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Create Note</h4>
      </div>
      <div class="modal-body" >
      <%= render "new_nurse_note" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




