$("#fire").html("<%= escape_javascript(render 'basic_med_records/view_nurse_record') %>");
// $("#modal-window").html("<%= escape_javascript(render 'basic_med_records/view_nurse_record') %>");
 $('#modal-window').modal('show');