$("#discharge").html("<%= escape_javascript(render 'admissions/discharge_note') %>");
$("#modal-window").html("<%= escape_javascript(render 'admissions/discharge_note') %>");
 $('#modal-window').modal('show');