$("#doc1").html("<%= escape_javascript(render 'admissions/doctor_admission_vitals_doc') %>");
$("#modal-window").html("<%= escape_javascript(render 'admissions/doctor_admission_vitals_doc') %>");
 $('#modal-window').modal('show');