$("#room2").html("<%= escape_javascript(render 'admissions/edit_room') %>");
<!-- $("#modal-window").html("<%= escape_javascript(render 'admissions/edit_room') %>"); -->
 $('#modal-window').modal('show');