$("#dis").html("<%= escape_javascript(render 'admissions/view_discharge_note') %>");
$("#modal-window").html("<%= escape_javascript(render 'admissions/view_discharge_note') %>");
 $('#modal-window').modal('show');