
       <% if user_signed_in? %>
<!-- <section id="main-content1"> -->
	<section class="wrapper">
		</section>

 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  <p>© 2020 - Present | Fiden Medical Center. All rights reserved | Developed by <a href="www.devdex.software">Devdex Software</a></p>
			</div>
		  </div>

       <% end%>
  <!-- / footer -->
<!-- </section> -->