<!DOCTYPE html>
<body>
  <% if user_signed_in? %>
    <section id="container">
      <header class="header fixed-top clearfix">
        <div class="brand">
          <h2 style="margin-top: 9%;margin-left: 17%">  FIDEN </h2>
          <!--   <div class="imgup">
            <img width="150" height="140" src=/assets/logo.png  >
          
          </div> -->
          <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
          </div>
        </div>
        <div class="top-nav clearfix">
          <!--search & user info start-->
          <ul class="nav pull-right top-menu">
            <!--  <li>
					<input type="text" class="form-control search" placeholder=" Search">
					</li> -->
            <!-- user login dropdown start-->
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <!-- <img alt="" src="images/2.png"> --> <span ><%= current_user.username %></span> <b class="caret"></b> </a>
              <!-- <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a> -->
              <ul class="dropdown-menu extended logout">
                <% if current_user.role_id == 4 %>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Service Categories'.html_safe,categories_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Services setup'.html_safe,services_inventories_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Orders setup'.html_safe,order_masters_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-user"></i> &nbsp; Profile'.html_safe,edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Roles setup'.html_safe,roles_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Users'.html_safe,users_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
                  </li>
                <%else%>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-user"></i> &nbsp; Profile'.html_safe,edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
                  </li>
                <%end%>
              </ul>
            </li>
            <!-- user login dropdown end -->
          </ul>
          <!--search & user info end-->
        </div>
      </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
        <div id="sidebar" class="nav-collapse">
          <!-- sidebar menu start-->
          <div class="leftside-navigation">
            <ul class="sidebar-menu"  >
              <li>
                <%= link_to '<i class="fa fa-arrow-left"></i> &nbsp; Go Back'.html_safe,root_path %>
              </li>
              <!-- 	DOCTOR  -->
              <% if current_user.role_id == 1 %>
                <h4 >
                  <%=link_to @patient_records.other_names + " " + @patient_records.surname , patient_profile_path(:id => @patient_id), :class => "userStyle" %>
                </h4>
                <li >
                  <ul class="sub">
                    <ul id="nav-accordion">
                      <li class="sub-menu">
                        <a href="javascript:;"> </i> <span>Documents</span> </a>
                      <ul class="sub">
                        <li>
                          <%= link_to 'Out-patient Documents', docs_path(:id => @patient_id) %>
                        </li>
                        <li>
                          <%= link_to 'Admission Documents by Doctor', admission_vitals_path(:id => @patient_id) %>
                        </li>
                        <li>
                          <%= link_to 'Nurse admission Vitals', nurse_admission_vitals_history_path(:id => @patient_id) %>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <%= link_to 'Orders - Medication', order_records_path(:id => @patient_id) %>
                    </li>
                    <li class="sub-menu">
                      <a href="javascript:;"> </i> <span>Laboratory</span> </a>
                    <ul class="sub">
                      <li>
                        <%= link_to 'Lab Orders', lab_docs_path(:id => @patient_id) %>
                      </li>
                      <li>
                        <%= link_to 'Lab Results', main_test_path(:id => @patient_id) %>
                      </li>
                    </ul>
                  </li>
                  <li class="sub-menu">
                    <a href="javascript:;"> </i> <span>Radiology/Ultrasound</span> </a>
                  <ul class="sub">
                    <li>
                      <%= link_to 'Radiology/Ultrasound Orders', radio_docs_path(:id => @patient_id) %>
                    </li>
                    <li>
                      <%= link_to 'Results', indi_radio_result_path(:id => @patient_id) %>
                    </li>
                  </ul>
                </li>
                <li>
                  <%= link_to 'Admit Patient', admission_doc_path(:id => @patient_id) %>
                </li>
                <li>
                  <%= link_to 'Appointment', patient_appointment_path(:id => @patient_id) %>
                </li>
                <li>
                  <%= link_to 'Bills' ,patient_bill_path(:id => @patient_id)  %>
                </li>
                <li class="sub-menu">
                  <a href="javascript:;"> </i> <span>Books</span> </a>
                <ul class="sub">
                  <li>
                    <%= link_to 'Current Practice Guidelines in Primary Care','/Current Practice Guidelines in Primary Care 2018.pdf', target: "_blank"  %>
                  </li>
                  <li>
                    <%= link_to 'Standard Treatment Guideline','/STG15.pdf', target: "_blank"  %>
                  </li>
                  <li>
                    <%= link_to 'Essential Medicine List','/eml2010.pdf', target: "_blank"  %>
                  </li>
                </ul>
              </li>
              <li>
                <%= link_to 'Set Orders' ,set_orders_path  %>
              </li>
            </li>
          <% elsif current_user.role_id == 3 %>
            <h4 style="color: red; font-weight: 500; text-align: left;
    margin-left: 10%;"><%= @patient_records.other_names + " " + @patient_records.surname %></h4>
            <li >
              <ul class="sub">
                <ul id="nav-accordion">
                  <li class="sub-menu">
                    <a href="javascript:;"> </i> <span>Admission Documents</span> </a>
                  <ul class="sub">
                    <li>
                      <%= link_to 'Nurse Admission Vitals', nurse_admission_vitals_history_path(:id => @patient_id) %>
                    </li>
                    <li>
                      <%= link_to 'Treatment Sheet', patient_treatment_path(:id => @patient_id) %>
                    </li>
                    <li>
                      <%= link_to 'Nurses Notes', nurses_note_path(:id => @patient_id) %>
                    </li>
                    <li>
                      <%= link_to 'Fluid Input/Output', fluids_intake_path(:id => @patient_id) %>
                    </li>
                    <li>
                      <%= link_to 'View Doc Admission Documents', admission_vitals_path(:id => @patient_id) %>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu">
                  <a href="javascript:;"> </i> <span>Out-Patient Documents</span> </a>
                <ul class="sub">
                  <li>
                    <%= link_to 'View Doc Out-patient Documents', docs_path(:id => @patient_id) %>
                  </li>
                </ul>
              </li>
            </ul>
            <li>
              <%= link_to 'View Orders', order_records_path(:id => @patient_id) %>
            </li>
            <li>
              <%= link_to 'View Lab Requests', lab_docs_path(:id => @patient_id) %>
            </li>
            <li>
              <%= link_to 'View Test Results', main_test_path(:id => @patient_id) %>
            </li>
            <li>
              <%= link_to 'View Bills' ,patient_bill_path(:id => @patient_id)  %>
            </li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;"> </i> <span>Books</span> </a>
        <ul class="sub">
          <li>
            <%= link_to 'Current Practice Guidelines in Primary Care','/Current Practice Guidelines in Primary Care 2018.pdf', target: "_blank"  %>
          </li>
          <li>
            <%= link_to 'Standard Treatment Guideline','/STG15.pdf', target: "_blank"  %>
          </li>
          <li>
            <%= link_to 'Essential Medicine List','/eml2010.pdf', target: "_blank"  %>
          </li>
        </ul>
      </li>
    <% end%>
  </div>
  <!-- sidebar menu end-->
</div>
</aside>
<!--sidebar end-->
<!--main content start-->
<%end%>
</body>
</html>
